body {
  font-family: "Lato", sans-serif;
}

.navbar-brand {
  font-family: "Lato", cursive;
  font-size: 22px;
  margin-top: 0px;
}

.text-align-center {
  text-align: center;
}

.btn {
  background-color: #A9A9A9 !important;
  border-style: none;
  color: #fff;
}

img {
  width: 75%;
}

.thumbnail {
  border: none !important;
}

a {
  color: black;
  font-size: 16px;
  text-decoration: none !important;
}

a:hover {
  color: #grey;
}

.container-fluid {
  width: 90%;
}

.allProds {
  margin-bottom: 50px;
  padding-bottom: 5px;
  border-bottom: solid 5px;
}

.about {
  margin: 0 auto;
  width: 90%;
}

.about h1 {
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
}

.about img {
  margin-left: 12%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 35px;

}


.bio {
  text-align: center;
}

.bio h2 {
  text-decoration: underline;
  margin-bottom: 15px;
}

.project {
  clear: both;
  text-align: justify;
  padding-top: 35px;
}

.project ul {
  font-size: 20px;
  margin-top: 25px;
}
