Requirement already satisfied (use --upgrade to upgrade): djangorestframework-jwt in /Users/rachaelwisecarver/.virtualenvs/store/lib/python2.7/site-packages
Requirement already satisfied (use --upgrade to upgrade): PyJWT<2.0.0,>=1.4.0 in /Users/rachaelwisecarver/.virtualenvs/store/lib/python2.7/site-packages (from djangorestframework-jwt)
