<!DOCTYPE html>
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
{% if not user_can_continue %}
<div class="col-sm-6">
  <p class="lead">Continue as Guest</p>
  <form method="POST" action=""> {% csrf_token %}
  {{ form|crispy }}
    <input type="submit" class="btn btn-success" value="Continue as Guest">
  </form>
</div>
<div class="col-sm-6 col-offset-6">
  <p class="lead">Login to Continue</p>
  <form method="POST" action="{% url 'auth_login' %}"> {% csrf_token %}
  {{ login_form|crispy }}
    <input type="hidden" name="next" value="{{ next_url }}">
    <input type="submit" class="btn btn-success" value="Login">
  </form>
  <p class="text-center">{% trans "Forgot password?" %}<a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>
  </p>
  <p class="text-center">{% trans "Not a member?" %}<a href="{% url 'registration_register' %}">{% trans "Register" %}</a></p>
</div>

{% else %}

<section class="col-sm-4 col-sm-offset-4 text-center">

  {% include "invoice/order_summary_short.html" with order=order %}

  <a href="{% url 'user_address_create' %}">Change an address</a><br/><br />
  <section>
    <form method="POST" action="{% url 'checkout_final' %}">{% csrf_token %}
      <input type="hidden" name="payment_token" value="ABC">
      <button class="btn btn-md" type="submit">Complete Order</button><br/>
    </form>
  </section>

</section>
{% endif %}
{% endblock %}
