<!DOCTYPE html>
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
{% if not user_can_continue %}
<div class="col-sm-6">
  <p class="lead">Continue as Guest</p>
  <form method="POST" action=""> {% csrf_token %}
  {{ form|crispy }}
    <input type="submit" class="btn btn-success" value="Continue as Guest">
  </form>
</div>
<div class="col-sm-6 col-offset-6">
  <p class="lead">Login to Continue</p>
  <form method="POST" action="{% url 'auth_login' %}"> {% csrf_token %}
  {{ login_form|crispy }}
    <input type="hidden" name="next" value="{{ next_url }}">
    <input type="submit" class="btn btn-success" value="Login">
  </form>
  <p class="text-center">{% trans "Forgot password?" %}<a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>
  </p>
  <p class="text-center">{% trans "Not a member?" %}<a href="{% url 'registration_register' %}">{% trans "Register" %}</a></p>
</div>

{% else %}
<section class="col-sm-4 col-sm-offset-4 text-center">
  <p class="lead">Your Order</p>
  <table class="table">
    <tr>
      <td> <strong>Cart Items: </strong><br />{% for i in order.cart.cartitem_set.all %}
        {{ i.item.get_title }}<br />
          {% endfor %}
      </td>
    <tr>
      <td>Subtotal: {{ order.cart.subtotal }}</td>
    </tr>
    <tr>
      <td>Tax Total: {{ order.cart.tax_total }}</td>
    </tr>
    <tr>
      <td>Cart Total: {{ order.cart.total }}</td>
    </tr>
    <tr>
      <td>Shipping: {{ order.shipping_total_price }}
      </td>
    </tr>
    <tr>
      <td>Total: {{ order.order_total }}</td>
    </tr>
  </table>
</section>

{% endif %}
{% endblock %}
