<section>
  <p class="lead">Order Summary</p>
  <table class="table">
    <tr>
      <td> <strong>Cart Items: </strong><br />{% for i in order.cart.cartitem_set.all %}
        {{ i.item.get_title }}<br />
          {% endfor %}
      </td>
    </tr>
    <tr>
      <td>Subtotal: {{ order.cart.subtotal }}</td>
    </tr>
    <tr>
      <td>Tax Total: {{ order.cart.tax_total }}</td>
    </tr>
    <tr>
      <td>Cart Total: {{ order.cart.total }}</td>
    </tr>
    <tr>
      <td>Shipping: {{ order.shipping_total_price }}
      </td>
    </tr>
    <tr>
      <td>Total: {{ order.order_total }}</td>
    </tr>
  </table>
</section>
<section>
  <p><strong>Billing to</strong><br/>
  {{ order.billing_address.get_address }}
  </p><br/>
  <p><strong>Shipping to</strong><br/>
  {{ order.shipping_address.get_address }}
  </p><br/>
  <p> Please print this page for your records. </p>
</section>
