<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<div class="about">
  <header>
    <h1> Our Group </h1>
    <figure>
      <a href="https://dl.dropboxusercontent.com/s/idhlw7gzfuz7hjd/Django.jpg?dl=0">
        <img class="groupPhoto" src="https://dl.dropboxusercontent.com/s/idhlw7gzfuz7hjd/Django.jpg?dl=0">
      </a>
    </figure>
  </header>
  <section class="bio col-md-12 col col-md-4">
    <h2> Rachael W. </h2>
    <p> I like any activity that allows me to learn new things every day. </p>
  </section>
  <section class="bio col-md-12 col col-md-4">
    <h2> Britt J </h2>
    <p> I like working with nice people on interesting projects.</p>
  </section>
  <section class="bio col-md-12 col col-md-4">
    <h2> Keith B. </h2>
    <p> A horticulturist turned developer, I am excited about building a career in tech.</p>
  </section>
  <section class="project">
    <h3>This is the stuff about our project</h3>
    <p>Strange Sweets is a webstore built with Python, Django, and jQuery, and deployed via Heroku. It was developed by Keith Brandtjen, Britt Johnson and Rachael Wisecarver. To build this app we used the tools and processes learned throughout 301 and applied them to python and django. At time of deployment, we have most of the features of a full-scale eCommerce site. In the future we would like to add the checkout functionality in order to actually sell our products.</p>
    <ul> Thank you's!
      <li> Rick Patci </li>
      <li> Munir Ibrahim </li>
      <li> Cris Ewing </li>
      <li> Justin Mitchell </li>
      <li> Will Weatherford </li>
      <li> Documentation </li>
      <li> Coffee </li>
      <li> Donuts </li>
      <li> Lucy(roo-roo)</li>
      <li> Gif's </li>
      <li> Early 00's Rap Music </li>
    </ul>
  </section>
</div>

{% endblock %}
