<!-- Dynamically add the following category detail module to our base.html page using Django templates-->
{% extends "base.html" %}

{% block content %}
<!-- This block of content dynamically populates the category detail page with the product name, image, and url for each product in the selected category. -->
  <h3>
    {{object}}
  </h3>
  <section class="row">
  {% for product in products %}
    <article class="col-xs-4">
      <article class="thumbnail text-center">
        <h4><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h4>
        {% if product.get_image_url %}
        <a href="{{ product.get_absolute_url }}"><img id="img" class="img-responsive img-rounded" src="{{ product.get_image_url }}"/></a><br/>
        {% endif %}
      </article>
    </article>
  {% cycle '' '' '</section><section class="row">' %}
  {% endfor %}
</section>
{% endblock %}
