<!-- Dynamically add the following product detail module to our base.html page using Django templates-->

{% extends "base.html" %}
<script>
  {% block jquery %}
  //jQuery block to set the price shown on the product detail page based on the variation selected by the user.
    function setPrice(){
      $('.variation_select').change(function(){
        var price = $('.variation_select option:selected').attr('data-price')
        $('#price').html(price);
      })
    };
    setPrice();
    //jQuery block which will asynchronously load form data on user's click of form button, and fade in message that product has been added to user's cart
    $('#submit-btn').click(function(event){
      event.preventDefault();
      var formData = $('#add-form').serialize();
      $.ajax({
        type: "GET",
        url: "{% url 'cart' %}",
        data: formData,
        success: function(data) {
          var $notification = $('#jquery-message').html("{{ product }} added to your cart!").fadeIn();
          $notification.fadeOut(3000);
          updateCartItemCount();
        },
        error: function(response, error) {
          $('#add-form').submit();
        }
      })
    });
  {% endblock %}
</script>

{% block content %}
<!-- Dynamically loads product title, description, image, url for selected product -->
<section class="row">
  <section class="col-sm-8">
    <h3>{{ object.title }}</h3>
    <br>
    {% if object.get_image_url %}
    <section>
      <img class="img-responsive img-rounded" src="{{ object.get_image_url }}"/>
    </section>
    {% endif %}
      <br>
      <p class="lead">{{ object.description }}</p>
  </section>

  <!-- Product Sidebar, displays form for adding product variation to cart-->
  <section class="col-sm-4">
    <h3 id="price"> ${{ object.price }} </h3>
    <form id="add-form" method="GET" action="{% url 'cart' %}">
      <p id="jquery-message" class="bg-success"></p>
      <select name="item" class="form-control variation_select">
        {% for vari_obj in object.variation_set.all %}
        <option data-price="{{ vari_obj.price }}" value="{{ vari_obj.id }}">
          {{ vari_obj }}
        </option>
        {% endfor %}
      </select>
      <br>
      <input class="form-control" type="number" name="qty" value="1" />
      <br />
      <input id="submit-btn" type="submit" class="btn btn-default add-cart" value="Add to Cart"/>
    </form>
    <br />
    <hr />

    <!-- Related Products loaded based on item category-->
    <h4> Related Products </h4><hr/>
    <section class="row">
    {% for product in related %}
      <section class="col-sm-6 thumbnail text-center">
        {% if product.get_image_url %}
        <a href="{{ product.get_absolute_url }}"><img id="img" class="img-responsive img-rounded" src="{{ product.get_image_url }}"/></a><br/>
          {% endif %}
          <section class="caption">
            <h4><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h4>
          </section>
        </section>
      {% endfor %}
    </section>
  </section>

  <!-- End Product sidebar -->
</section>
{% endblock %}
