{% extends "base.html" %}

<script>
  {% block jquery %}
    function setPrice(){
      $('.variation_select').change(function(){
        var price = $('.variation_select option:selected').attr('data-price')
        $('#price').html(price);
      })
    };
    setPrice();

    $('#submit-btn').click(function(event){
      event.preventDefault();
      var formData = $('#add-form').serialize();
      $.ajax({
        type: "GET",
        url: "{% url 'cart' %}",
        data: formData,
        success: function(data) {
          $('#jquery-message').html("{{ product }} added to your cart!").fadeIn();
        },
        error: function(response, error) {
          $('#add-form').submit();
        }
      })
    });
  {% endblock %}
</script>

{% block content %}
<section class="row">
  <div class="col-sm-8">
    <h2>{{ object.title }}</h2>
    {% if object.get_image_url %}
    <div>
      <img class="img-responsive" src="{{ object.get_image_url }}"/>
    </div>
    {% endif %}
      <p class="lead">{{ object.description }}</p>
  </div>

  <!-- Product Sidebar -->
  <div class="col-sm-4">
    <h3 id="price"> {{ object.price }} </h3>
    <form id="add-form" method="GET" action="{% url 'cart' %}">
      <p id="jquery-message" class="bg-success"></p>
      <select name="item" class="form-control variation_select">
        {% for vari_obj in object.variation_set.all %}
        <option data-price="{{ vari_obj.price }}" value="{{ vari_obj.id }}">
          {{ vari_obj }}
        </option>
        {% endfor %}
      </select>
      <input class="form-control" type="number" name="qty" value="1" />
      <br />
      <input id="submit-btn" type="submit" class="btn btn-default" value="Add to Cart"/>
    </form>
    <br />
    <hr />

    <!-- Related Products -->
    <h3> Related Products </h3><hr/>
    <div class="row">
    {% for product in related %}
      <div class="col-sm-6 thumbnail text-center">
        {% if product.get_image_url %}
        <a href="{{ product.get_absolute_url }}"><img id="img" class="img-responsive" src="{{ product.get_image_url }}"/></a><br/>
          {% endif %}
          <div class="caption">
            <h4><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h4>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- End Product sidebar -->
</section>
{% endblock %}
