{% extends "base.html" %}

<script>
  {% block jquery %}
    function setPrice(){
      $('.variation_select').change(function(){
        var price = $('.variation_select option:selected').attr('data-price')
        $('#price').html(price);
      })
    };
    setPrice();
  {% endblock %}
</script>

{% block content %}
<div class="row">
  <div class="col-sm-8">
    <h2>{{ object.title }}</h2>

    {% if object.get_image_url %}

    <div>
      <img class="img-responsive" src="{{ object.get_image_url }}"/>
    </div>
    {% endif %}
      <p class="lead">{{ object.description }}</p>
  </div>
  <!-- Product Sidebar -->
  <div class="col-sm-4">
    <h3 id="price"> {{ object.price }} </h3>
    {% if object.variation_set.count > 1 %}
    <select class="form-control variation_select">
      {% for vari_obj in object.variation_set.all %}
      <option data-price="{{ vari_obj.price }}" value="{{ vari_obj.id }}">
        {{ vari_obj }}
      </option>
      {% endfor %}
    </select>
    {% endif %}
    <br />
    <a href="">Add to Cart </a>
    <br />
    <hr />
    <h4> Related Products </h4>

    <div class="row">
    {% for product in related %}
      <div class="col-xs-6">
        <div class="thumbnail text-center">
          <h4><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h4>
        {% if product.get_image_url %}
        <a href="{{ product.get_absolute_url }}"><img id="img" class="img-responsive" src="{{ product.get_image_url }}"/></a><br/>
          {% endif %}

          </div>
        </div>
      {% cycle '' '</div><div class="row">' %}
      {% endfor %}
    </div>
  </div>
  <!-- End Product sidebar -->
</div>
{% endblock %}
